<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="/webjars/jquery/3.4.1/dist/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="application/javascript">
        // // on ready
        // $(function() {
        //
        // });
        // // on load
        // $(window).on('load', function (e) {
        //
        // });

        function getMemberList(){
            $.ajax({
                url : "/rest/getMembers"
            }).done(function(data){
                var innerHtml = "";
                var memberDto = data.result;
                innerHtml += '<table>';
                for (var i = 0; i < memberDto.length; i++) {
                    innerHtml +=
                        "<tr>" +
                        "<td>" + memberDto[i].name + "</td>" +
                        "<td><input type='text' name='age' value='" + memberDto[i].age + "'></td>" +
                        "<td><button type=\"button\" class=\"btn btn-secondary\" title=\"logout\" onclick='updateAge(this, " + memberDto[i].id + ")'>change Age</button></td>" +
                        "</tr>";
                }
                innerHtml += '</table>';
                $("#members").html(innerHtml);
            });
        }

        function updateAge(el, id){
            var age = $(el).parent().parent().find('input[name="age"]').val();

            $.ajax({
                method : "POST",
                url : "/admin/updateAge",
                data : {
                    'id' : id,
                    'age' : age
                }
            }).done(function(data){
                if(data.status == 200){
                    $("#alertModal").find('.modal-body').html('수정 성공');
                    $("#alertModal").modal('show');
                    getMemberList();
                }else{
                    alert('수정 실패');
                }
            });
        }
    </script>
</head>
<body>
    <h1>this is admin page</h1>
    <div sec:authorize="isAuthenticated()" class="alert alert-primary" role="alert">
        Name: <span sec:authentication="name">SomeName</span><br />
<!--        Principal: <span sec:authentication="principal">PrincipalString</span><br />-->
        HasRole(USER): <span sec:authorize="hasRole('ROLE_USER')">YES</span><br />
        HasRole(ADMIN): <span sec:authorize="hasRole('ROLE_ADMIN')">YES</span>
    </div>
    <hr/>
    <button class="btn btn-primary" onclick="getMemberList()">getMembers</button><br/>
    <div id="members"></div>
    <button type="button" class="btn btn-secondary" onclick="window.location.href='/logout'" title="logout">logout</button>

    <div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>