<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="/webjars/jquery/3.4.1/dist/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="application/javascript">
        // // on ready
        // $(function() {
        //
        // });
        // // on load
        // $(window).on('load', function (e) {
        //
        // });

        function getMemberList(){
            $.ajax({
                url : "/rest/getMembers"
            }).done(function(data){
                var innerHtml = "";
                var memberDto = data.result;
                for (var i = 0; i < memberDto.length; i++) {
                    innerHtml +=
                        "<tr>" +
                        "<td>" + memberDto[i].name + "</td>" +
                        "<td>" + memberDto[i].age + "</td>" +
                        "</tr>";
                }
                $("#members").html(innerHtml);
            });
        }

        function getMyOrders(){
            $.ajax({
                url : "/rest/list/orders/" + 13
                ,data:{
                    "testData" : "testdata is is"
                }
            }).done(function(data){
                var innerHtml = "";
                var ordersDto = data;

                if(ordersDto.length == null || ordersDto.length == 0){
                    innerHtml = 'has no orders';
                }else{
                    for (var i = 0; i < ordersDto.length; i++) {
                        innerHtml +=
                            "<tr>" +
                            "<td>" + ordersDto[i].id + "</td>" +
                            "<td>" + ordersDto[i].name + "</td>" +
                            "<td>" + ordersDto[i].orderCnt + "</td>" +
                            "<td>" + ordersDto[i].orderDate + "</td>" +
                            "</tr>";
                    }
                }

                $("#members").html(innerHtml);
            });
        }
    </script>
</head>
<body>
    <h1>this is admin page</h1>
    <a onclick="getMemberList()">getMembers</a><br/>
    <hr/>
    <table id="members"></table>
    <a href="/logout" title="logout">logout</a>
</body>
</html>