<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="/webjars/jquery/3.4.1/dist/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="application/javascript">
        // // on ready
        // $(function() {
        //
        // });
        // // on load
        // $(window).on('load', function (e) {
        //
        // });

        function getMemberList(){
            $.ajax({
                url : "/rest/getMembers"
            }).done(function(data){
                var innerHtml = "";
                var memberDto = data.result;
                for (var i = 0; i < memberDto.length; i++) {
                    innerHtml +=
                        "<tr>" +
                        "<td>" + memberDto[i].name + "</td>" +
                        "<td>" + memberDto[i].age + "</td>" +
                        "</tr>";
                }
                $("#members").html(innerHtml);
            });
        }

        function getMyOrders(){
            $.ajax({
                url : "/rest/list/orders/" + 13
                ,data:{
                    "testData" : "testdata is is"
                }
            }).done(function(data){
                var innerHtml = "";
                var ordersDto = data;

                if(ordersDto.length == null || ordersDto.length == 0){
                    innerHtml = 'has no orders';
                }else{
                    innerHtml += '<hr/>';
                    innerHtml += '<table>';
                    for (var i = 0; i < ordersDto.length; i++) {
                        innerHtml +=
                            "<tr>" +
                            "<td>" + ordersDto[i].id + "</td>" +
                            "<td>" + ordersDto[i].name + "</td>" +
                            "</tr>";
                    }
                    innerHtml += '</table>';
                    innerHtml += '<hr/>'
                }

                $("#members").html(innerHtml);
            });
        }
    </script>
</head>
<body>
    <h1>this is admin page</h1>
    <div sec:authorize="isAuthenticated()" class="alert alert-primary" role="alert">
        Name: <span sec:authentication="name">SomeName</span><br />
<!--        Principal: <span sec:authentication="principal">PrincipalString</span><br />-->
        HasRole(USER): <span sec:authorize="hasRole('ROLE_USER')">YES</span><br />
        HasRole(ADMIN): <span sec:authorize="hasRole('ROLE_ADMIN')">YES</span>
    </div>
    <hr/>
    <button class="btn btn-primary" onclick="getMemberList()">getMembers</button><br/>
    <div id="members"></div>
    <button type="button" class="btn btn-secondary" onclick="window.location.href='/logout'" title="logout">logout</button>
</body>
</html>